*{
    padding:0px;
    margin:0px;
}
.navbar{  
    padding: 10px;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color:#566730;
    position: relative;
    
}

#link1{
    display: block;
    float: right;

}
#link1 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(bgstill9.png);
    background-size: cover;
}
#link1 a:hover {
    background-image: url(bgif9.gif);
  }

  #link2{
    display: block;
    float: right;

}
#link2 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(bgstill8.png);
    background-size: cover;
}
#link2 a:hover {
    background-image: url(bgif8.gif);
  }

  #link3{
    display: block;
    float: right;

}
#link3 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(bgstill3.png);
  background-size: cover;
}
#link3 a:hover {
    background-image: url(bgif3.gif);
  }

  #link4{
    display: block;
    float: right;

}
#link4 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(bgstill5.png);
    background-size: cover;
}
#link4 a:hover {
    background-image: url(bgif5.gif);
  }

#link5{
    display: block;
    float: right;
}
#link5 a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    color: rgb(252, 212, 153);
    text-align: center; 
    background-image: url(bgstill7.png);
    background-size: cover;
}
#link5 a:hover {
    background-image: url(bgif7.gif);
  
  }

.body{
    border-top: 5px solid rgb(247, 217, 172);
    background-image: url(bggreen2.jpeg);    
    background-size: cover;
    min-height: 82.1vh;
    
    
    
}
#text{
text-align: center;
color: black;
}

.highlight{
    display: inline-block;
    padding: 25px 30px;
    background-image: url(bgstill4.png);
    background-size: cover;
    text-decoration: none;
    margin-top: 20px;
   text-align: center;
   color: rgb(252, 212, 153);;
}






.highlight:hover{
    background-image: url(bgif4.gif)

}